<!DOCTYPE HTML>
<html lang="en" >
    <head>

        {%- include head.html -%}

        {% assign reversed_posts = site.posts | reverse %}

        {% if reversed_posts %}
            <link rel="next" href="{{site.baseurl}}{{reversed_posts.first.url}}" />
        {% endif %}
    </head>
    <body>
        <div class="book">

            {%- include toc-date.html -%}

            <div class="book-body">
                <div class="book-header" role="navigation">
                    <!-- Title -->
                    <h1>
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                        {% if page.title %}
                            <a href="." >{{ page.title | escape }}</a>
                        {% else %}
                            <a href="." >{{ site.title | escape }}</a>
                        {% endif %}
                    </h1>
                </div>

                <div class="body-inner">
                    {%- include body.html -%}

                    {% if reversed_posts %}
                        <a href="{{site.baseurl}}{{reversed_posts.first.url}}" class="navigation navigation-next navigation-unique" aria-label="Next page: {{reversed_posts.first.title}}">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="catalogue">
                <h1 class="category-title"><a href="/category/{{ page.title }}">{{ page.title }}</a></h1>
                {% assign cate = page.category | default: page.title %}
                {% for post in site.categories[ cate ] %}
                <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
                    <div>
                        <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
                        <h1 class="catalogue-title">{{ post.subject | upcase }}/ {{ post.title }}</h1>
                        <h4 class="catalogue-desc">{{ post.description }}</h4>
                        <div class="catalogue-line"></div>
                        <p class="catalogue-content">{{ post.content | strip_html | truncatewords: 30 }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>

            <script>
            var gitbook = gitbook || [];
            gitbook.push(function() {
                gitbook.page.hasChanged({%- include metadata-home.json.tpl -%});
            });
            </script>
        </div>
        
        {%- include footer.html -%}

    </body>
</html>
